<button (click)="onClick()"></button>
<hr>
<hr>

<div *ngIf="addedCartList.length>0;else emptyCart">
    {{addedCartList.length}} Courses in cart 
    <div *ngFor="let item of addedCartList">
        <span>
            {{item.title}}
            <button (click)="addToWishList(item.id)"> Add to Wish List </button>
            <img src="assets/R.png" (click)="removeCourseFromCart(item.id)" style="height: 1cm;" alt="Profile">
        </span>
        </div>
    <hr>
</div>
<ng-template #emptyCart>
    <p>Your cart is Empty</p>
  </ng-template>

Recommended Courses
<p *ngFor="let item of addedWishList">{{item.id}} {{item.title}}</p>