
<div class="container text-center mt-5 mb-5">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a routerLink="" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="assets/HashedinLogo.png"  alt="Hashedin by Deloitte">
    </a>

    <span class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"> 
      <a routerLink="/Courses" class="nav-link px-2 link-primary">Courses</a>
      <a routerLink="/MyWishlist" class="nav-link px-2 link-primary">WishList</a>
      <a routerLink="/Profile" class="nav-link px-2 link-primary">
        <img src="assets/profile.jpg" style="height: 0.5cm;" alt="Profile">
      </a>
      <a routerLink="/Cart" class="nav-link px-2 link-primary">
        <img src="assets/th.jpg" style="height: 0.5cm;" alt="Cart">
      </a>
    </span>

    
  </header>
</div>