<div class="container overflow-hidden">
    <div class="row justify-content-center bg-light text-dark border-bottom rounded-2" style="height:2cm;" >
        <div class="col-1 text-center">
            <img src="assets/Course.PNG" class="img-thumbnail" >
        </div>
        <div class="col-4 text-center">
            {{data.title}} 
        </div>
        <div class="col-2 ">
            {{data.author}} 
        </div>
        <div class="col-1">
            {{data.discounted_price?data.discounted_price:data.actual_price}} 
        </div>
        <div class="col-1 " [class]="data.discounted_price?'text-decoration-line-through':''">
            {{data.discounted_price?data.actual_price:'-'}} 
        </div>
        <div class="col-1">
            <input class="form-check-input" type="checkbox" (click)="addToWishList(data.id)">
        </div>
        <div class="col-2">
            <app-button (click)="addToCart(data.id)" [data]="'Add to Cart'"></app-button>
        </div>
    </div>
</div>
<br>








