<div class="container overflow-hidden">
    <div class="row align-items-center bg-light text-dark border-bottom rounded-2"  style="height:2cm;" >
        
        <div class="col-1">
            <img src="assets/Course.PNG" class="img-thumbnail" (click)="onSelected(data)">
        </div>
        <div class="col-4" (click)="onSelected(data)">
            {{data.title}} 
        </div>
        <div class="col-2 " (click)="onSelected(data)">
            {{data.author}} 
        </div>
        <div class="col-1" (click)="onSelected(data)">
            {{data.discounted_price?data.discounted_price:data.actual_price}} 
        </div>
        <div (click)="onSelected(data)" class="col-1 " [class]="data.discounted_price?'text-decoration-line-through':''">
            {{data.discounted_price?data.actual_price:'-'}} 
        </div>
        <div class="col-1">
            <input class="form-check-input" type="checkbox" (click)="addToWishList(data)">
        </div>
        <div class="col-2">
            <app-button (click)="addToCart(data)" [data]="'Add to Cart'"></app-button>
        </div>
    </div>
</div>
<br>








